In [10]:
import pandas as pd

In [11]:
# Load taxonomy.en-US.txt file
taxonomy_file = 'taxonomy.en-US.txt'
taxonomy_df = pd.read_csv(taxonomy_file, sep='\t', header=None, names=['Category'])
print(taxonomy_df.head())

text_data = taxonomy_df['Category'].str.cat(sep='\n')

                                            Category
0      # Google_Product_Taxonomy_Version: 2021-09-21
1                             Animals & Pet Supplies
2              Animals & Pet Supplies > Live Animals
3              Animals & Pet Supplies > Pet Supplies
4  Animals & Pet Supplies > Pet Supplies > Bird S...

In [12]:
# Alternative: Read from a file
# with open('taxonomy.txt', 'r') as file:
#     text_data = file.read()

# Convert text data to a list of lines, stripping whitespace
lines = [line.strip() for line in text_data.strip().split('\n') if line.strip()]

# Split each line on '>' and create a list of taxonomy levels
taxonomy_data = [line.split(' > ') for line in lines]

# Find the maximum number of levels to determine the number of columns
max_levels = max(len(taxonomy) for taxonomy in taxonomy_data)

# Create column names dynamically (e.g., Level_1, Level_2, ...)
columns = [f'Level_{i+1}' for i in range(max_levels)]

# Create a DataFrame by padding shorter lists with None
df = pd.DataFrame(
    [taxonomy + [None] * (max_levels - len(taxonomy)) for taxonomy in taxonomy_data],
    columns=columns
)

# Display the DataFrame
print(df)

# Optional: Save to CSV for further use
df.to_csv('taxonomy_output.csv', index=False)

                                            Level_1       Level_2  \
0     # Google_Product_Taxonomy_Version: 2021-09-21          None
1                            Animals & Pet Supplies          None
2                            Animals & Pet Supplies  Live Animals
3                            Animals & Pet Supplies  Pet Supplies
4                            Animals & Pet Supplies  Pet Supplies
...                                             ...           ...
5591                               Vehicles & Parts      Vehicles
5592                               Vehicles & Parts      Vehicles
5593                               Vehicles & Parts      Vehicles
5594                               Vehicles & Parts      Vehicles
5595                               Vehicles & Parts      Vehicles

            Level_3              Level_4 Level_5 Level_6 Level_7
0              None                 None    None    None    None
1              None                 None    None    None    None
2              None                 None    None    None    None
3              None                 None    None    None    None
4     Bird Supplies                 None    None    None    None
...             ...                  ...     ...     ...     ...
5591     Watercraft                 None    None    None    None
5592     Watercraft          Motor Boats    None    None    None
5593     Watercraft  Personal Watercraft    None    None    None
5594     Watercraft            Sailboats    None    None    None
5595     Watercraft               Yachts    None    None    None

[5596 rows x 7 columns]

In [13]:
df.to_csv("taxonomy_output.csv", index=False)

In [14]:
# Read facebook 
fb = pd.read_csv('fb_product_categories_en_US.csv')

In [15]:
# Parse taxonomy column on category
fb_taxonomy_data = [cat.split(' > ') for cat in fb['category']]

In [16]:
# Organize into DataFrame
max_fb_levels = max(len(taxonomy) for taxonomy in fb_taxonomy_data)
fb_columns = [f'Level_{i+1}' for i in range(max_fb_levels)]

fb_df = pd.DataFrame(
    [taxonomy + [None] * (max_fb_levels - len(taxonomy)) for taxonomy in fb_taxonomy_data],
    columns=fb_columns
)
# Save fb_df
fb_df.to_csv("fb_taxonomy_output.csv", index=False)

In [17]:
# Parse the 'full_gpc' to hier levels
fb_df

,Level_1,Level_2,Level_3,Level_4,Level_5,Level_6
0,food & beverages,food,soups & broths,None,None,None
1,food & beverages,food,nuts & seeds,None,None,None
2,food & beverages,food,snacks & chips,None,None,None
3,food & beverages,food,meat substitutes,None,None,None
4,food & beverages,food,spices & seasonings,None,None,None
...,...,...,...,...,...,...
2962,clothing & accessories,clothing,women's clothing,tops,vests,None
2963,clothing & accessories,clothing,women's clothing,maternity clothing,maternity sweatshirts & hoodies,None
2964,clothing & accessories,clothing,women's clothing,maternity clothing,maternity pantyhose & tights,None
2965,clothing & accessories,clothing,women's clothing,maternity clothing,maternity shorts,None
2966,clothing & accessories,clothing,women's clothing,maternity clothing,maternity tops & t-shirts,None